INSFORGE_BASE_URL=
INSFORGE_ANON_KEY=
INSFORGE_PROJECT_API_KEY=


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=


CLERK_INSFORGE_TEMPLATE=insforge
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/


# NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=


# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
CHANNEL_OAUTH_STATE_SECRET=
CHANNEL_TOKEN_ENCRYPTION_KEY=


# INNGEST_DEV=1
INNGEST_SIGNING_KEY=
INNGEST_EVENT_KEY=


TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_AUTH_URL=https://x.com/i/oauth2/authorize
TWITTER_TOKEN_URL=https://api.x.com/2/oauth2/token
TWITTER_PROFILE_URL=https://api.x.com/2/users/me?user.fields=profile_image_url,username
TWITTER_SCOPES=tweet.read,users.read,tweet.write,offline.access,media.write


LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_AUTH_URL=https://www.linkedin.com/oauth/v2/authorization
LINKEDIN_TOKEN_URL=https://www.linkedin.com/oauth/v2/accessToken
LINKEDIN_PROFILE_URL=https://api.linkedin.com/v2/userinfo
LINKEDIN_SCOPES=openid,profile,w_member_social


THREADS_CLIENT_ID=
THREADS_CLIENT_SECRET=
THREADS_AUTH_URL=
THREADS_TOKEN_URL=
THREADS_PROFILE_URL=
THREADS_SCOPES=


INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_AUTH_URL=
INSTAGRAM_TOKEN_URL=
INSTAGRAM_PROFILE_URL=
INSTAGRAM_SCOPES=


FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_AUTH_URL=
FACEBOOK_TOKEN_URL=
FACEBOOK_PROFILE_URL=
FACEBOOK_SCOPES=


BLUESKY_CLIENT_ID=
BLUESKY_CLIENT_SECRET=
BLUESKY_AUTH_URL=
BLUESKY_TOKEN_URL=
BLUESKY_SCOPES=


YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_AUTH_URL=
YOUTUBE_TOKEN_URL=
YOUTUBE_PROFILE_URL=
YOUTUBE_SCOPES=


TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
TIKTOK_AUTH_URL=
TIKTOK_TOKEN_URL=
TIKTOK_PROFILE_URL=
TIKTOK_SCOPES=